<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBKRU8Kdi9ENUcEZLo2dQV-5tueoyCfHo4</string>
	<key>GCM_SENDER_ID</key>
	<string>187180178121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.horansoftware.aastu</string>
	<key>PROJECT_ID</key>
	<string>aastu-students-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>aastu-students-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187180178121:ios:5e8febc03172974be98b18</string>
</dict>
</plist>